{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="page-header">
        <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
    </div>

    <div class="row">
        <div class="span10">
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
        {% endif %}
        </div>
    </div>

{% endblock body %}
