<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '../app/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% javascripts '../app/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>

    <body>
        {% include '::header.html.twig' %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include '::footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
