<header>
    <div class="container">
        <div class="row">
            <div class="span3">
                <a href="{{ path('project_list') }}">
                    <img src="/img/logo.png" alt="" class="logo">
                </a>
            </div>

            {% if app.user %}
            <div class="span6"></div>

            <div class="span3">
                <ul class="inline">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <img src="{{ gravatar(app.user.email) }}" class="img-circle" border="0">
                        </a>
                    </li>
                    <li>
                        <h6>{{ app.user.username }}</h6>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-custom-wrench"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="icon-custom-door"></i></a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>