{% extends "::base.html.twig" %}

{% block body %}

    {% form_theme form 'TeamSpaceProjectBundle:Form:fields.html.twig' %}

    <div class="page-header">
        <h3>{{ 'projects.create.title'|trans }}</h3>
    </div>

    <div class="row">
        <div class="span10">
            <form novalidate action="{{ path('project_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-large btn-success" type="submit" value="{{ 'projects.create.submit'|trans }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{ form_javascript(form) }}
    {{ form_stylesheet(form) }}
{% endblock %}