{% extends "::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="span8">
            <h3>{{ 'projects.index.my_projects'|trans }}</h3>
        </div>

        <div class="span4">
            <a class="btn btn-primary pull-right" href="{{ path('project_create') }}">
                {{ 'projects.index.create_new'|trans }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <table class="table">
                <tr>
                    <th>{{ 'projects.table.title'|trans }}</th>
                    <th>{{ 'projects.table.members'|trans }}</th>
                </tr>

                {% for project in projects %}
                    {{ include('TeamSpaceProjectBundle:Project:index.projectItem.html.twig', {'project': project, 'is_child': false}) }}

                    {% if project.__children|length > 0 %}
                        {% for child in project.__children %}
                            {{ include('TeamSpaceProjectBundle:Project:index.projectItem.html.twig', {'project': child, 'is_child': true}) }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}