<tr>
    <td width="70%">
        {% if is_child %}&nbsp;&nbsp;&#187;{% endif %}
        <a href="{{ path('project_show', { 'identifier' : project.identifier }) }}">
            {{ project.name }}
        </a>

        {% if app.user.id == project.author.id %}
            <a href="{{ path('project_edit', { 'identifier' : project.identifier }) }}">
                <i class="icon-wrench"></i>
            </a>
        {% endif %}
    </td>

    <td width="30%">
        {% for member in project.members %}
            <a data-toggle="tooltip" title="{{ member.user.usernameCanonical }}" href="{{ path('team_space_user_profile', { 'name' : member.user.username }) }}"><img src="{{ gravatar(member.user.email) }}" class="img-circle" border="0"></a>
        {% endfor %}
    </td>
</tr>