{% extends "::base.html.twig" %}

{% block body %}

    <ul class="breadcrumb">
        <li><a href="{{ path('project_list') }}">{{ 'projects.index.my_projects'|trans }}</a> <span class="divider">/</span></li>
        <li class="active">{{ project.name }}</li>
    </ul>

    <div class="row">
        <div class="span8">
            <h3>{{ 'project.show.tasks'|trans }}</h3>
        </div>

        <div class="span4">
            <a class="btn btn-success pull-right" href="{{ path('task_new', { 'identifier' : project.identifier }) }}">
                {{ 'project.show.create_task'|trans }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="span12">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="5%">
                            {{ knp_pagination_sortable(pagination, '#', 't.id') }}
                        </th>
                        <th width="60%" {% if pagination.isSorted('t.subject') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'project.show.table.title'|trans, 't.subject') }}
                        </th>
                        <th  width="10%" {% if pagination.isSorted('t.updated_at') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'project.show.table.updated'|trans, 't.updated_at') }}
                        </th>
                        <th  width="15%" {% if pagination.isSorted('t.assignee_to') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'project.show.table.assignee'|trans, 't.assignee_to') }}
                        </th>
                        <th width="10%" {% if pagination.isSorted('t.status') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'project.show.table.status'|trans, 't.status') }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in pagination %}
                    <tr>
                        <td width="5%">{{ task.id }}</td>
                        <td width="60%"><a href="{{ path('task_show', { 'id' : task.id }) }}">{{ task.subject }}</a></td>
                        <td width="10%">{% if task.updatedAt %}{{ task.updatedAt|date('Y-m-d') }}{% endif %}</td>
                        <td width="15%">{{ task.assignedTo }}</td>
                        <td width="10%">{{ task.status }}</td>
                    </tr>
                    {% endfor %}
                <tbody>

            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div>
    </div>

{% endblock %}