header {
    height: 93px;
    padding-top: 10px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px #e1e1e1;
    -moz-box-shadow: 0 1px 5px #e1e1e1;
    -webkit-box-shadow: 0 1px 5px #e1e1e1;
    margin-bottom: 33px;
}

header .logo {
    margin-top: 24px;
}

header form {
    margin-top: 39px;
}

header ul {
    margin-top: 33px;
}

header h6 {
    overflow: hidden;
    width: 69px;
    font-stretch: normal;
}

header .input-append {
    margin-left: 51px;
}

header .icon-custom-wrench {
    background-image: url("/img/icon-custom-wrench.png");
    background-position: center center;
    width: 16px;
    height: 16px;
}

header .icon-custom-door {
    background-image: url("/img/icon-custom-door.png");
    background-position: center center;
    width: 16px;
    height: 16px;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
}