{% extends '::base.html.twig' %}

{% block body %}

    {% form_theme form 'TeamSpaceProjectBundle:Form:fields.html.twig' %}

    <div class="page-header">
        <h3>{{ 'tasks.edit.title'|trans }}</h3>
    </div>

    <div class="row">
        <div class="span10">
            <form class="form-horizontal" novalidate action="{{ path('task_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
                <input type="hidden" name="_method" value="PUT" />
                {{ form_widget(form) }}

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-large btn-success" type="submit" value="{{ 'tasks.edit.submit'|trans }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{ form_javascript(form) }}
    {{ form_stylesheet(form) }}
{% endblock %}
