{% extends '::base.html.twig' %}

{% block body %}

    <ul class="breadcrumb">
        <li><a href="{{ path('project_list') }}">{{ 'projects.index.my_projects'|trans }}</a> <span class="divider">/</span></li>
        <li><a href="{{ path('project_show', { 'identifier' : task.project.identifier }) }}">{{ task.project.name }}</a> <span class="divider">/</span></li>
        <li class="active">{{ task.subject }}</li>
    </ul>

    <div class="span12">

        <div class="row">

            <h2>{{ task.subject }}</h2>

            <p class="project-description">
                {{ 'task.show.project'|trans }}: "{{ task.project }}"</br>
                {{ 'task.show.assignee'|trans }}: {{ task.assignedTo }}<br/>
                {% if task.dueDate %}
                    {{ 'task.show.due.date'|trans }}: {{ task.dueDate|date('Y-m-d') }}<br/>
                {% endif %}
                {% if task.parent %}
                    {{ 'task.show.parent'|trans }}:
                    <a href="{{ path('task_show', { 'id' : task.parent.id }) }}">{{ task.parent.subject }}</a>
                {% endif %}
            </p>
        </div>

        <div class="row-fluid">
            <div class="well">
                <h4>{{ 'task.show.description'|trans }}:</h4>
                <p>{{ task.description }}</p>
            </div>
        </div>

        <div class="row-fluid">
            <p>
                <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> {{ 'task.show.edit.button'|trans }}</a>
                <a href="{{ path('task_delete', { 'id': task.id }) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'task.show.delete.button'|trans }}</a>
            </p>
        </div>
    </div>

{% endblock %}