{% form_theme form 'UserBundle:Form:fields.html.twig' %}

<div class="page-header">
    <h3>{{ 'profile.edit.title'|trans }}</h3>
</div>

<div class="row">
    <div class="span10">

        <form class="form-horizontal" novalidate action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_widget(form) }}

            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-large btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}">
                </div>
            </div>
        </form>
    </div>
</div>

{{ form_javascript(form) }}
{{ form_stylesheet(form) }}