{% trans_default_domain 'FOSUserBundle' %}

<div class="page-header">

    <div class="media">

        <p class="pull-left">
            <img src="{{ gravatar(user.email, 80) }}" class="img-circle" border="0">
        </p>

        <div class="media-body">
            <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        </div>
    </div>

</div>

<div class="clear"></div>

<div class="row">
    <div class="span10">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>

        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>

<div class="fos_user_user_show">

</div>