{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>{{ 'layout.login'|trans }}</legend>

                {% if error %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>{{ error|trans }}
                    </div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" class="span4" name="_username" value="{{ last_username }}" required="required" />

                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" class="span4" name="_password" required="required" />

                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </label>

                    <input type="submit" id="_submit" name="_submit" class="btn btn-info btn-block" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
